<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/academic">Academic</a></li>
				<li><a href="/work">Work</a></li>
				<li><a href="/project">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jessicaxiong.xy@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/xiongy15">My GitHub</a></li>
				<li><a href="https://xiongy15.github.io/online-cv/">CV</a></li>
				<li><a href="https://www.linkedin.com/in/ying-x-aa516314b/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
